@import url("https://fonts.googleapis.com/css?family=PT+Sans|Quicksand|Raleway");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Quicksand", "Raleway", "Arial", sans-serif;
  background-color: lavender;
  text-align: center;
}

h1 {
  text-align: center;
  text-shadow: 1px 1px 1px black;
}
