doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Log form
    style(type="text/css")
           include log-form.css
  body
    .form
      form(action='http://localhost:3000/auth/google', method='GET')
        p
          | Name:
          input(type='text', name='name')
        p
          | Password:
          input(type='text', name='password')
        input.btn(type='submit', value='Log in')
